header.mineheader {
  background: #ffffff;
  padding: 60px 0;
  display: inline-block;
  vertical-align: baseline;


}
.info-icons .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  border: 0px ;
}
.navigation .nav > li > a:focus, .nav > li > a:hover{
  background: #ffffff;
}
.navigation .nav > li > a{
  padding: 15px 0px;
}
a:focus, a:hover {
  color: #ff7800;
}
.navigation{
  background: #ff7800;
  font-size: 12px;
  font-weight:600;
  text-transform:uppercase;

}
nav a{
  display: inline-block;
  padding: 0px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #ffffff;
}
nav a:hover {
  color: #ff7800;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  text-decoration:none;
}

nav a:active {
  color: #ff7800;
  background: #ffffff;
}
.container {
  text-align: center;

}
.p title {
  text-align: center;
}
a.logo{
  display: inline-block;
}

.logo-text {
  text-align: left;
  font-size: 20px;
  display: inline-block;
  word-wrap: normal;
  white-space: normal;
  line-height: 1;
  vertical-align: top;
  height: 92px;
  padding: 60px 0 0;

}
h2.preim-title{
  margin-top: 50px;
}
.rev {
  margin-top: 50px;
}
.login {
  padding: 10px 0 0;
}
span.login {
  color:#ff7800;
  font-size: 12px;
  text-align: right;
  padding: 10px 20px;
  margin-top: 45px;
}
a.signin{
  color: #9d9d9d;

}
.login {
  display: inline-block;
}
.image-and-name{
  margin-top: 20px;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}


p.three.rega {
  margin-bottom: 40px;
  font-size: 30px;
  text-align: center;

}
footer.foot {
  background-color: #f7f7f7;
  height: 120px;

}
.footerr {
  margin-top: 15px;
  margin-bottom: 100px;
}
footer a {
  padding: 5px 5px;
  margin-right: 0px;
  align:right;
}
p.footerr{
  float: left;
}

.navigate {
  text-align: right;
}
.content {
  text-align: center;

}

.icons {
  color:#cbcbcb;
}

.circle{
  width:100px;
  height:100px;
  display:inline-block;
  border-radius:50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  -khtml-border-radius:50px;
  color: #ffffff;;
  line-height:100px;
  text-align:center;
  margin-top: 35px;
  background:#ff7800;
  padding: 1.1em 0;

}
img.reviews {
  margin-top: 0px;

}

a.rev {
  color:#ff7800;
  font-size: 35px;
  padding: 10px 20px;
}
p.rev {
  font-size: 35px;
}
.rev {
  display: inline-block;
  margin-bottom: 20px;
}
.oval-text {
  display: inline-block;
  position: relative;
  top: -12px;
}
a.oval-text {
  color:#ff7800;
  font-size: 20px;
  padding: 0px 5px;

}
p.oval-text {
  font-size: 20px;
}
p.review {
  text-align: left;
}

.circle.tarif{
  width:400px;
  height:80px;
  border-radius:50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  -khtml-border-radius:50px;
  color: #000000;;
  line-height:100px;
  text-align:center;
  margin-top: 0px;
  background: #ffffff;
  padding: 0.1em 0;
  border: 1px solid gainsboro;

  z-index: 201;
  position: relative;
  top: 35px;
}
p.tarif {
font-size: 20px;
  position: relative;
  top: -11px;


}
.content_main{
  background: url('../img/bg_2.jpg');
}
.background-gray {
  background: url('../img/bg_1.jpg');
}

.slider-concrete {
    padding-top: 20px;
    width: 100%;
    height: 170px;
}

p.three.pr {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

p.two.pr {
  font-size: 35px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
.tarif-concrete{
  padding-top: 82px;
  padding-bottom: 40px;
  text-align: center;
}
.tarif-concrete-type1 {
  background-color: #ffffff;
  border-radius: 7px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tarif-concrete-text {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}

.tarifs_info {
  display: inline-block;
}
label.rega {
  padding: 0px 30px;
}

.slider-concrete .slider-handle{
  background: #ff7800;
}
.slider-concrete .slider-selection{
  background: #ff7800;
}
.slider-concrete .slider.slider-horizontal{
  width: 100%;
}
i.tarifs_info {
  display: inline-block;
  padding: 0.1em;
}
p.one.tarif {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  position: relative;
  top: 0px;

}
p.two.tarif {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 10px;

}
p.tarifs_info{
  font-size: 17px;
  padding: 0px 0px;

}
.sliders{
  position: absolute;
  top: 258px;
  width: 100%;
}
.twentydays_content {
  margin-top: 20px;
}
p.fore.tarifs_info {
  font-size: 10px;
  color: #9d9d9d;
  padding: 0.1em;
  margin-left: 65px;
    text-align: right;
  padding-bottom: 170px;
}
p.tarifs_info_right{
    text-align: right;
    font-size: 17px;
    padding: 0px 0px;
}
.btn-orange-tarifs {
  text-align: center;
  background-color: #ff9c00;
  color: #ffffff;
  height: 50px;
  border-radius: 5px;
  padding-bottom: 20px;
  border-color: #ff7c09;

}
.btn-orange-tarifs:hover {
  background-color: #ff7c09;
  color: #ffffff;
  border-color: #ff7c09;
}
.button_wrap{
  text-align: center;
}
.btn-orange {
  width: 40%;
margin-top: 60px;
  background-color: #ff9c00;
  color: #ffffff;
  height: 60px;
  border-radius: 5px;
  margin-bottom: 60px;
  border-color: #ff9c00;
}
.btn-orange:hover{
  background-color: #ff7c09;
  color: #ffffff;
  border-color: #ff9c00;
}
.btn-orange:active{
  background-color: #cbcbcb;
  color: #ffffff;
  border-color: #ff9c00;
}
.arrow_box {
  position: relative;
  background: #fffffc;
  border: 1px solid #f5f5f5;

  width: 200px;
  padding: 20px;
  text-align: left ;

}
.arrow_box:hover{
  background-color :#ff7c09;
  color:#ffffff;
}
.arrow_box:hover:after {
  border-color: #f7f7f7;
  border-bottom-color:#ff7c09;
  border-width: 20px;
  margin-left: -40px;
}

.words {
  padding-left: 40px;
  padding-top: 100px;
}
.arrow_box:after{
  bottom: 100%;
  left: 70%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 252, 0);
  border-bottom-color: #fffffc;
  border-width: 20px;
  margin-left: -40px;
}

.one.line {
  display: inline-block;
}
p.three.one_line {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
p.fore.one_line {
  text-align: left;
  font-size: 12px;
  color: #8c8c8c;
  position: relative;
  top:-10px;
}
.info-item-title-block{
  font-size: 20px;
  font-weight: bold;

}
.info-item-subtitle-block{
  font-size: 10px;
}
.tarif {
  position:relative;
}
.oval {
  position: absolute;
  left:50%; margin-left:-200px;
  margin-top: -78px;
}
.info-icons{
  padding-bottom: 60px;
  padding-top: 40px;
  vertical-align: middle;
}