doctype html
html(lang= "ru")
    include ./blocks/head.jade
    body
        include ./blocks/header.jade
        include ./blocks/info.jade
        include ./blocks/Content_main.jade
        include ./blocks/rega.jade
        include ./blocks/footer.jade