.content_main
    .container
        .tarif
            .oval
                .row
                    .circle.tarif

                        p.oval-text  Выбери
                        a.oval-text(href='#')
                            span тариф
                        p.oval-text  , и вперед!

            .tarif-inner
                .row
                    .col-sm-4
                        .tarif-concrete
                            .tarif-cocrete-type1
                                p.one.tarif 8%
                                    .tarifs_info
                                        i.tarifs_info.fa.fa-clock-o
                                        p.tarifs_info 10 дней
                                        p.tarifs_info 500-4999 p
                                        p.fore.tarifs_info диапазон размера вкладов
                                    .tarifs_info
                                        p.tarifs_info 3500
                                        p.tarifs_info тут доделать
                                p.two.tarif Ваша прибыль
                                p.one.tarif 1600 р
                                .button_wrap
                                    button.btn.btn-primary.btn-orange-tarifs.btn-lg(type='open') Открыть вклад
                    .col-sm-4
                        .tarif-concrete
                            .tarif-cocrete-type1
                                p.one.tarif 20%
                                    .tarifs_info
                                        i.tarifs_info.fa.fa-clock-o
                                        p.tarifs_info 20 дней
                                        p.tarifs_info 5000-9999 p
                                        p.fore.tarifs_info диапазон размера вкладов
                                    .tarifs_info
                                         p.tarifs_info 7500
                                         p.tarifs_info тут доделать
                                p.two.tarif Ваша прибыль
                                p.one.tarif 2600 р
                                .button_wrap
                                    button.btn.btn-primary.btn-orange-tarifs.btn-lg(type='open') Открыть вклад
                    .col-sm-4
                        .tarif-concrete
                            .tarif-cocrete-type1
                                p.one.tarif 32%
                                    .tarifs_info
                                        i.tarifs_info.fa.fa-clock-o
                                        p.tarifs_info 30 дней
                                        p.tarifs_info 10000-15000 p
                                        p.fore.tarifs_info диапазон размера вкладов
                                    .tarifs_info
                                        p.tarifs_info 13500
                                        p.tarifs_info тут доделать
                                p.two.tarif Ваша прибыль
                                p.one.tarif 11600 р
                                .button_wrap
                                    button.btn.btn-primary.btn-orange-tarifs.btn-lg(type='open') Открыть вклад
