.Content_main
    .container-fluid
        .oval
            .container
                .row
                    .col-xs-12
                        .circle.tarif
                            p.tarif Выбери тариф, и вперед!
        .col-xs-12
            .tarifs
                .tendays
                    p.one.tarif 8%
                    .col-xs-12
                        .tarifs_info
                            i.tarifs_info.fa.fa-clock-o
                            p.tarifs_info 10 дней
                            p.tarifs_info 500-4999 p
                            p.fore.tarifs_info диапазон размера вкладов
                        .tarifs_info
                            p.tarifs_info 3500
                            p.tarifs_info тут доделать
                    p.two.tarif Ваша прибыль
                    p.one.tarif 1600 р
                    .button_wrap
                        button.btn.btn-primary.btn-orange-tarifs.btn-lg(type='open') Открыть вклад
                .twentydays
                    .twentydays_content
                        p.one.tarif 20%
                        .col-xs-12
                            .tarifs_info
                                i.tarifs_info.fa.fa-clock-o
                                p.tarifs_info 20 дней
                                p.tarifs_info 5000-9999 p
                                p.fore.tarifs_info диапазон размера вкладов
                            .tarifs_info
                                 p.tarifs_info 7500
                                 p.tarifs_info тут доделать
                        p.two.tarif Ваша прибыль
                        p.one.tarif 2600 р
                        .button_wrap
                            button.btn.btn-primary.btn-orange-tarifs.btn-lg(type='open') Открыть вклад
                .thirtydays
                    .col-xs-12
                        p.one.tarif 32%
                        .tarifs_info
                            i.tarifs_info.fa.fa-clock-o
                            p.tarifs_info 30 дней
                            p.tarifs_info 10000-15000 p
                            p.fore.tarifs_info диапазон размера вкладов
                        .tarifs_info
                            p.tarifs_info 13500
                            p.tarifs_info тут доделать
                    p.two.tarif Ваша прибыль
                    p.one.tarif 11600 р
                    .button_wrap
                        button.btn.btn-primary.btn-orange-tarifs.btn-lg(type='open') Открыть вклад


    .preim
        .container-fluid
            .row
                .col-xs-12
                    .content
                        p.two.pr Преимущества работы с нами
                        p За 4 года работы мы выработали и готовы вам предложить следующие преимущества, относительно других сервисов!
                        .container-fluid
                            .row
                                .col-xs-3
                                    .circle
                                        i.icons2.fa.fa-shield.fa-4x
                                    p.three.pr 100% гарантия
                                    p пролипшжл ртожушпрщжгку ыпрщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп 83шце7п83пй мй3и4к3гш5п8й
                                .col-xs-3
                                    .circle
                                        i.icons2.fa.fa-lock.fa-4x
                                    p.three.pr Надежная защита
                                    p пролипшжлрто жушпрщжгкуы прщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп 83шце7п83пй мй3и4к3гш5п8й
                                .col-xs-3
                                    .circle
                                        i.icons2.fa.fa-tachometer.fa-4x
                                    p.three.pr Быстрые выплаты
                                    p пролипшжлрт ожушпрщжгкуыпр щшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп 83шце7п83пй мй3и4к3гш5п8й
                                .col-xs-3
                                    .circle
                                        i.icons2.fa.fa-gears.fa-4x
                                    p.three.pr Техническая поддержка
                                    p пролипшжлртожу шпрщжгкуыпрщ шруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп 83шце7п83пй мй3и4к3гш5п8й
    .reviews
        .container-fluid
            .row
                .col-xs-12
                    .content
                        .rev
                            a.rev(href='#')
                                span Отзывы
                            p.rev наших инвесторов
                        .container-fluid
                            .row
                                 .col-xs-3
                                     .one_line
                                         img.reviews(src='img/1.jpg')
                                         p.three.one_line Василий
                                         p.three Пупкин
                                         p.fore.one_line Москва
                                     .arrow_box
                                        p.review пролипшжлр тожушпрщжгкуы прщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп 83шце7п83пй мй3и4к3гш5п8й
                                 .col-xs-3
                                     .one_line
                                         img.reviews(src='img/2.jpg')
                                         p.three.one_line Петр Петров
                                         p.fore.one_line Барнаул
                                     .arrow_box
                                        p.review пролипшжлрто жушпрщжгкуып рщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп8 3шце7п83пй мй3и4к3гш5п8й
                                 .col-xs-3
                                     .one_line
                                        img.reviews(src='img/3.jpg')
                                        p.three.one_line Иван Иванов
                                        p.fore.one_line Барнаул
                                     .arrow_box
                                        p.review пролипшжлрто жушпрщжгкуыпр щшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп8 3шце7п83пй мй3и4к3гш5п8й
                                 .col-xs-3
                                     .one_line
                                         img.reviews(src='img/4.jpg')
                                         p.three.one_line Мария Модница
                                         p.fore.one_line Москва
                                     .arrow_box
                                        p.review пролипшжлрто жушпрщжгкуыпрщшр уыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп 83шце7п83пй мй3и4к3гш5п8й