
Content_main.container-fluid
    .container
        .col-xs-12
            .content
                h2 Преимущества работы с нами
                p За 4 года работы мы выработали и готовы вам предложить следующие преимущества, относительно других сервисов!
                .container
                    .col-xs-3
                        .circle
                            i.icons2.fa.fa-shield.fa-4x
                        h3 100% гарантия
                        p пролипшжлртожушпрщжгкуыпрщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп83шце7п83пй мй3и4к3гш5п8й
                    .col-xs-3
                        .circle
                            i.icons2.fa.fa-lock.fa-4x
                        h3 Надежная защита
                        p пролипшжлртожушпрщжгкуыпрщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп83шце7п83пй мй3и4к3гш5п8й
                    .col-xs-3
                        .circle
                            i.icons2.fa.fa-tachometer.fa-4x
                        h3 Быстрые выплаты
                        p пролипшжлртожушпрщжгкуыпрщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп83шце7п83пй мй3и4к3гш5п8й
                    .col-xs-3
                        .circle
                            i.icons2.fa.fa-gears.fa-4x
                        h3 Техническая поддержка
                        p пролипшжлртожушпрщжгкуыпрщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп83шце7п83пй мй3и4к3гш5п8й

