.content_main
    .container
        .tarif
            .oval
                .row
                    .circle.tarif

                        p.oval-text  Выбери
                        a.oval-text(href='#')
                            span тариф
                        p.oval-text  , и вперед!

            .tarif-inner
                .row
                    .col-sm-4
                        .tarif-concrete
                            .tarif-concrete-type1
                                .tarif-concrete-text
                                    p.one.tarif 8%
                                        .tarifs_info
                                            .col-sm-5
                                                i.tarifs_info.fa.fa-clock-o
                                                p.tarifs_info 10 дней
                                            .col-sm-7
                                                p.tarifs_info_right 500-4999 p
                                                p.fore.tarifs_info диапазон размера вкладов
                                    .button_wrap
                                        button.btn.btn-primary.btn-orange-tarifs.btn-lg.btn-block(type='open') Открыть вклад
                    .col-sm-4
                        .tarif-concrete
                            .tarif-concrete-type1
                                .tarif-concrete-text
                                    p.one.tarif 20%
                                        .tarifs_info
                                            .col-sm-5
                                                i.tarifs_info.fa.fa-clock-o
                                                p.tarifs_info 20 дней
                                            .col-sm-7
                                                p.tarifs_info_right 5000-9999 p
                                                p.fore.tarifs_info диапазон размера вкладов
                                    .button_wrap
                                        button.btn.btn-primary.btn-orange-tarifs.btn-lg.btn-block(type='open') Открыть вклад
                    .col-sm-4
                        .tarif-concrete
                            .tarif-concrete-type1
                                .tarif-concrete-text
                                    p.one.tarif 32%
                                        .tarifs_info
                                            .col-sm-5
                                                i.tarifs_info.fa.fa-clock-o
                                                p.tarifs_info 30 дней
                                            .col-sm-7
                                                p.tarifs_info_right 10000-15000 p
                                                p.fore.tarifs_info диапазон размера вкладов

                                    .button_wrap
                                        button.btn.btn-primary.btn-orange-tarifs.btn-lg.btn-block(type='open') Открыть вклад

                .sliders.background-gray
                      .row
                                .col-sm-4
                                    .slider-concrete
                                        .col-sm-4
                                            p.tarifs_info  3500
                                        .col-sm-8
                                            input.slider-money
                                        p.two.tarif Ваша прибыль
                                        p.one.tarif 1600 р
                                .col-sm-4
                                    .slider-concrete
                                        .col-sm-4
                                            p.tarifs_info  7500
                                        .col-sm-8
                                            input.slider-money
                                        p.two.tarif Ваша прибыль
                                        p.one.tarif 2600 р
                                .col-sm-4
                                    .slider-concrete
                                        .col-sm-4
                                            p.tarifs_info  13500
                                        .col-sm-8
                                            input.slider-money
                                        p.two.tarif Ваша прибыль
                                        p.one.tarif 11600 р

