footer.container-fluid
    .container
        .footerr
            .col-xs-2
                p Trader inc
            .col-xs-10
                .navigate
                    a(href='#') О нас
                    a(href='#') Тарифы
                    a(href='#') Правила
                    a(href='#') FAQ
                    a(href='#') Отзывы
                    a(href='#') Контакты
                    a(href='#') Обратная связь

