footer.foot.background-gray
    .container
        .footerr
            .col-xs-2
                p.footerr Trader inc
            .col-xs-10
                .navigate
                    a(href='#') О нас
                    a(href='#') Тарифы
                    a(href='#') Правила
                    a(href='#') FAQ
                    a(href='#') Отзывы
                    a(href='#') Контакты
                    a(href='#') Обратная связь
script(src='js/jquery.min.js')
script(src="js/main.js")
script(src="js/bootstrap-slider.min.js")
script(src="js/bootstrap-slider.js")
script(src="js/bootstrap.min.js")



