header.mainheader
	.container
		.row
			.col-xs-8
				a.logo(href='#')
					img(src='img/logo.png')
				.logo-text Инвестиционный сервис
			.col-xs-4
				.login
					a.signin
						i.fa.fa-user.fa-2x
						span.login(href='#') Войти
					span или
					a.signin
						span.login(href='#') зарегистрироваться

.navigation
	.container
			nav.nav.nav-pills.nav-justified
				li
					a(href='#') О нас
				li
					a(href='#') Тарифы
				li
					a(href='#') Правила
				li
					a(href='#') FAQ
				li
					a(href='#') Отзывы
				li
					a(href='#') Контакты
				li
					a(href='#') Обратная связь
