head
   title='Test'
   meta(charset='utf-8')
   link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css', media='all')
   link(rel='stylesheet', type='text/css', href='css/style.css', media='all')
   link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css', media='all')


