header.container-fluid
	.container
		.row
			.col-xs-5.variant_header_logo
				a(href='#')
					img(src='img/logo.png')
			.col-xs-2
				h3.header Инвестиционный сервис
			.col-xs-5.variant_header_login.text-right
				.login
					i.fa.fa-user.fa-2x
					a.login(href='#')
						span Войти
					p.login или
					a.login(href='#')
						span  зарегистрироваться

.container
	.row
		.col-md-12
			nav
				a(href='#') О нас
				a(href='#') Тарифы
				a(href='#') Правила
				a(href='#') FAQ
				a(href='#') Отзывы
				a(href='#') Контакты
				a(href='#') Обратная связь

