.info-icons
    .container
         .row
             .col-md-offset-2
                 .col-md-10
                     .col-md-12
                         .row
                             .col-md-3
                                 .col-md-4
                                     i.icons.fa.fa-users.fa-3x
                                 .col-md-8
                                     p.three.info 6823
                                     p.info1 инвесторов
                             .col-md-3
                                 .col-md-3
                                     i.icons.fa.fa-ruble.fa-3x
                                 .col-md-9
                                     p.three.info 7782640 р
                                     p.info1 инвестировано
                             .col-md-3
                                 .col-md-4
                                     i.icons.fa.fa-stack-overflow.fa-3x
                                 .col-md-8
                                     p.three.info 738175 р
                                     p.info1 выплачено
                             .col-sm-3
                                 .col-md-4
                                     i.icons.fa.fa-trophy.fa-3x
                                 .col-md-8
                                     p.three.info 100%
                                     p.info1 выплат
