.info-icons
    .container
         .row
             .col-md-offset-1
                 .col-md-11
                     .col-md-12
                         .row
                             .col-md-3
                                 .col-md-4
                                     .media-left
                                        i.media-object.icons.fa.fa-users.fa-3x
                                 .col-md-8
                                     .media-body
                                         .info-item-title-block 6823
                                         .info-item-subtitle-block инвесторов
                             .col-md-3
                                 .col-md-3
                                     .media-left
                                        i.media-object.icons.fa.fa-ruble.fa-3x
                                 .col-md-9
                                     .media-body
                                         .info-item-title-block 7782640 р
                                         .info-item-subtitle-block инвестировано
                             .col-md-3
                                 .col-md-4
                                     .media-left
                                        i.media-object.icons.fa.fa-stack-overflow.fa-3x
                                 .col-md-8
                                     .media-body
                                        .info-item-title-block 738175 р
                                        .info-item-subtitle-block выплачено
                             .col-sm-3
                                 .col-md-4
                                     .media-left
                                        i.media-object.icons.fa.fa-trophy.fa-3x
                                 .col-md-8
                                     .media-body
                                         .info-item-title-block 100%
                                         .info-item-subtitle-block выплат
