.preim.background-gray
    .container.preim-inner
        .row
            .col-xs-12
                .content
                    h2.preim-title Преимущества работы с нами
                    p.preim-subtitle За 4 года работы мы выработали и готовы вам предложить следующие преимущества, относительно других сервисов!
                        .row
                            .col-xs-3
                                .circle
                                    i.icons2.fa.fa-shield.fa-4x
                                p.three.pr 100% гарантия
                                p пролипшжл ртожушпрщжгку ыпрщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп 83шце7п83пй мй3и4к3гш5п8й
                            .col-xs-3
                                .circle
                                    i.icons2.fa.fa-lock.fa-4x
                                p.three.pr Надежная защита
                                p пролипшжлрто жушпрщжгкуы прщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп 83шце7п83пй мй3и4к3гш5п8й
                            .col-xs-3
                                .circle
                                    i.icons2.fa.fa-tachometer.fa-4x
                                p.three.pr Быстрые выплаты
                                p пролипшжлрт ожушпрщжгкуыпр щшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп 83шце7п83пй мй3и4к3гш5п8й
                            .col-xs-3
                                .circle
                                    i.icons2.fa.fa-gears.fa-4x
                                p.three.pr Техническая поддержка
                                p пролипшжлртожу шпрщжгкуыпрщ шруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп 83шце7п83пй мй3и4к3гш5п8й
