.rega
    .container-fluid
        .row
            p.three.rega Начни зарабатывать СЕЙЧАС!
                  .col-xs-4
                  .col-xs-6.col-xs-offset-3
                       form
                           .col-xs-4
                               .input_wrap
                                   input(type='text', placeholder='Имя')
                           .col-xs-4
                               .input_wrap
                                   input(type='tel', placeholder='Фамилия')
                           .col-xs-4
                               .input_wrap
                                   input(type='email', placeholder='Email')
                           .button_wrap
                               button.btn.btn-primary.btn-orange.btn-lg(type='button') Зарегистрироваться


