.rega.background-gray
    .container
        .row
            p.three.rega Начни зарабатывать СЕЙЧАС!
                  .col-xs-4
                  .col-xs-6.col-xs-offset-3

                        form.form-inline
                            .form-group
                                input.form-control(type='text', placeholder='Имя')
                            .form-group
                                input.form-control(type='tel', placeholder='Фамилия')
                            .form-group
                                input.form-control(type='email', placeholder='Email')
