.rega.background-gray
    .container
        .row
            p.three.rega Начни зарабатывать СЕЙЧАС!
                        form.form-inline
                            .form-group

                                input.form-control(type='name', placeholder='Введите имя')
                                label.rega(for='name',class='control-label') Имя
                            .form-group

                                input.form-control(type='firstname', placeholder='Введите фамилию')
                                label.rega(for='firstname',class='control-label') Фамилия
                            .form-group

                                input.form-control(type='email', placeholder='Введите Email')
                                label.rega(for='email',class='control-label') E-mail
                        .button_wrap
                            button.btn.btn-primary.btn-orange.btn-lg(type='open') Открыть вклад