.reviews.background-gray
    .container
        .row
            .col-xs-12
                .content
                    a.rev(href='#')
                        span Отзывы
                    p.rev наших инвесторов
                        .row
                             .col-xs-3
                                 .image-and-name
                                     .col-md-6
                                         img.reviews(src='img/1.jpg')
                                     .col-md-6
                                         p.three.one_line Василий Пупкин
                                         p.fore.one_line Москва
                                 .words
                                     .col-md-12
                                         .arrow_box
                                             p.review пролипшжлр тожушпрщжгкуы прщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп 83шце7п83пй мй3и4к3гш5п8й
                             .col-xs-3
                                 .image-and-name
                                     .col-md-6
                                        img.reviews(src='img/2.jpg')
                                     .col-md-6
                                        p.three.one_line Петр Петров
                                        p.fore.one_line Барнаул
                                 .words
                                     .col-md-12
                                         .arrow_box
                                             p.review пролипшжлрто жушпрщжгкуып рщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп8 3шце7п83пй мй3и4к3гш5п8й
                             .col-xs-3
                                 .image-and-name
                                    .col-md-6
                                        img.reviews(src='img/3.jpg')
                                    .col-md-6
                                         p.three.one_line Иван Иванов
                                         p.fore.one_line Барнаул
                                 .words
                                     .col-md-12
                                         .arrow_box
                                             p.review пролипшжлрто жушпрщжгкуыпр щшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп8 3шце7п83пй мй3и4к3гш5п8й
                             .col-xs-3
                                 .image-and-name
                                     .col-md-6
                                        img.reviews(src='img/4.jpg')
                                     .col-md-6
                                         p.three.one_line Мария Модница
                                         p.fore.one_line Москва
                                 .words
                                     .col-md-12
                                         .arrow_box
                                             p.review пролипшжлрто жушпрщжгкуыпрщшр уыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп 83шце7п83пй мй3и4к3гш5п8й