reviews.container-fluid
    .container
        .col-xs-12
            .content
                h2 Отзывы наших инвесторов
                .container
                    .col-xs-3
                        img.reviews(src='img/1.jpg')
                        h3 100% гарантия
                        p пролипшжлртожушпрщжгкуыпрщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп83шце7п83пй мй3и4к3гш5п8й
                    .col-xs-3
                        img.reviews(src='img/2.jpg')
                        h3 Надежная защита
                        p пролипшжлртожушпрщжгкуыпрщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп83шце7п83пй мй3и4к3гш5п8й
                    .col-xs-3
                        img.reviews(src='img/3.jpg')
                        h3 Быстрые выплаты
                        p пролипшжлртожушпрщжгкуыпрщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп83шце7п83пй мй3и4к3гш5п8й
                    .col-xs-3
                        img.reviews(src='img/4.jpg')
                        h3 Техническая поддержка
                        p пролипшжлртожушпрщжгкуыпрщшруыкшпрц оукпиеаоукещшц3 муыоуепгшщ3дцп пац3лгш4к3еп83шце7п83пй мй3и4к3гш5п8й

//
   Created by pika on 02.08.16.

